# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# IDE and OS files
.DS_Store
Thumbs.db
.idea/
.vscode/

# Local configuration secrets
config/*.env

# Notebooks checkpoints
.ipynb_checkpoints/
